DATABASE_URL=
JWT_SECRET=

FRONTEND_URL=http://localhost:3000

EMAIL_ENABLED=false

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=ApexiveAI
SMTP_PASSWORD=

SMTP_FROM_EMAIL=naingbhonehtet70@gmail.com
SMTP_FROM_NAME=Apexive Community

DIDIT_API_KEY=
DIDIT_WORKFLOW_ID=
DIDIT_API_URL=https://verification.didit.me/v3/session/
DIDIT_STATUS_URL=https://verification.didit.me/v3/session/{session_id}/decision/
DIDIT_CALLBACK_URL=https://localhost:8000/api/didit/callback

EMBEDDING_API_KEY=
EMBEDDING_API_URL=https://api.openai.com/v1/embeddings
EMBEDDING_MODEL=text-embedding-3-small

